
#home, #rapala
{
	background: url('../images/diagonal_waves.png');

	}
	
	#rapalaLure h4
	{
		margin-left: 22px;
		margin-top: 0;
		}
		
		#bass
		{
			display: block;
			margin: 0 auto;
			}